* {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

/* At the top of main */
h1 {
  font-size: 24px;
  margin: 20px 30px;
}

.main_background {
  background-color: #2b3d8b;
  width: 100%;
  height: auto;
  color: white;
}

main_category h1,
main_category button {
  vertical-align: middle;
  display: inline-block;
}

main_category button {
  color: white;
  background-color: #2b3d8b;
  margin: 0 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

/* Categoty setting */
product_category {
  display: block;
  margin: 10px 0;
}

product_category button {
  font-size: 17px;
  background-color: #e6e6e6;
  padding: 5px 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.entire {
  color: white;
  background-color: #2b3d8b;
}

/* other option */
.more_button {
  display: block;
  color: #2b3d8b;
  background-color: white;
  font-size: 17px;
  border-radius: 7px;
  border: 2px solid #2b3d8b;
  padding: 5px 10px;
  margin: 20px auto;
}

.more_button:hover {
  background-color: #2b3d8b;
  color: white;
}

/* aisde */
.main_footer {
  width: 100%;
  background-color: #2b3d8b;
  color: white;
  padding: 20px 0;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer_column {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 10px;
}

.footer_column h2 {
  margin-bottom: 15px;
}

.footer_column p {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.6;
}
