* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main header */
.main_background {
  background-color: #2b3d8b;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.title {
  margin-left: 30px;
}

.main_button button {
  color: white;
  background-color: #2b3d8b;
  border: 0;
  font-size: 15px;
  flex: 1 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.home {
  padding: 0 5px;
}

.popular {
  margin: 0 5px;
  padding: 0 5px;
}

.recent {
  padding: 0 5px;
}

/* category */
.product_category {
  margin: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product_category button {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.entire {
  background-color: #2b3d8b;
  color: white;
}

/* product part */
.count_product {
  background-color: #dadada;
  font-size: 15px;
  padding: 5px 15px;
}

.product {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 200px 200px;
}

.button_setting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.more_button {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b3d8b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.more_button:hover {
  background-color: white;
  color: #2b3d8b;
  border: 3px solid #2b3d8b;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* footer */
.footer_frame {
  background-color: #2b3d8b;
  color: white;

  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 150px 100px;
  justify-content: center;
  align-items: center;
}

.footer_columns {
  justify-self: center;
}

.footer_bottom {
  grid-column: 1/ -1;
  align-self: center;
}

.footer_bottom hr {
  margin: 10px 0;
}

.footer_bottom p {
  text-align: center;
}
