* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

.main_background {
  background-color: blue;
  width: 100%;
  height: 50px;
}

main-category h1,
main-category p {
  display: inline-block;
  /* color: white; */
}

main-category p {
  margin-left: 15px;
}
