* {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

/* At the top of main */
h1 {
  font-size: 24px;
  margin: 20px 30px;
}

.main_background {
  background-color: #2b3d8b;
  width: 100%;
  height: auto;
  color: white;
}

main_category h1,
main_category button {
  vertical-align: middle;
  display: inline-block;
}

main_category button {
  color: white;
  background-color: #2b3d8b;
  margin: 0 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

/* Categoty setting */
product_category {
  display: block;
  margin: 10px 0;
}

product_category button {
  font-size: 17px;
  background-color: #e6e6e6;
  padding: 2px 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.entire {
  color: white;
  background-color: #2b3d8b;
}

/* aisde */

/* other option */
.more_button {
  color: #2b3d8b;
  background-color: white;
  font-size: 17px;
  border-radius: 7px;
  border: 2px solid #2b3d8b;
  padding: 5px 10px;
}

.more_button:hover {
  background-color: #2b3d8b;
  color: white;
}
