* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-right: 40px;
}

.main_background {
  background-color: blue;
  width: 100%;
  height: auto;
  color: white;
}

main-category h1,
main-category p {
  vertical-align: middle;
  display: inline-block;
  /* color: white; */
}

main-category p {
  margin: 0 20px;
  font-size: 16px;
  cursor: pointer;
}
