* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main header */
.main_background {
  background-color: #2b3d8b;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.title {
  margin-left: 30px;
}

.main_button button {
  color: white;
  background-color: #2b3d8b;
  border: 0;
  font-size: 15px;
  flex: 1 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.main_button button:hover {
  color: orange;
}

.home {
  padding: 0 5px;
}

.popular {
  margin: 0 5px;
  padding: 0 5px;
}

.recent {
  padding: 0 5px;
}

/* category */
.product_category {
  margin: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product_category button {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product_category button:not(:first-child):hover {
  background-color: rgb(214, 214, 214);
}

.entire {
  background-color: #2b3d8b;
  color: white;
}

/* product part */
.product_header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.count_product {
  font-size: 20px;
  margin-left: 20px;
}

.dropdown {
  margin-right: 30px;
  position: relative;
  top: 0;
  left: -30px;
}

.dropdown button {
  font-size: 15px;
  background-color: white;
  border: 2px solid #dadada;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;

  background-color: white;
  min-width: 120px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px #0000001a;
  padding: 10px 0;
  list-style: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.product {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 200px 200px;
}

.button_setting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.more_button {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b3d8b;
  color: white;
  border: 3px solid white;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.more_button:hover {
  background-color: white;
  color: #2b3d8b;
  border: 3px solid #2b3d8b;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

/* footer */
.footer_frame {
  background-color: #2b3d8b;
  color: white;

  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 150px 100px;
  justify-content: center;
  align-items: center;
}

.footer_columns {
  justify-items: center;
}

.footer_columns h2 {
  margin-bottom: 10px;
}

.footer_columns p {
  margin-bottom: 4px;
}

.footer_button button {
  background-color: #2b3d8b;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
  border: none;
  cursor: pointer;
}

.footer_button a:link,
.footer_button a:visited {
  text-decoration: none;
}

.footer_button a button:hover {
  color: orange;
}

.FAQ {
  padding: 0 10px;
}

.footer_bottom {
  grid-column: 1 / -1;
  align-self: center;
}

.footer_bottom hr {
  margin: 10px 0;
}

.footer_bottom p {
  text-align: center;
}
